<!DOCTYPE html class="h-100">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>China Motor Bus plate finder</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="h-100" ng-app="app">
    <div class="container d-flex h-100">
        <div class="row m-auto">
            <div class="col">
                <div class="card p-5">
                    <img class="card-img-top mx-auto" src="cmb.png" alt=""  style="height: 194px;width: 180px;">
                    <div class="card-body" ng-controller="controller">
                        <h4>China Motor Bus plate finder</h4>

                        <div class="form-group">
                            <label for="plate">Plate number</label>
                            <input type="text" class="form-control" name="plate" id="plate" aria-describedby="helpId" placeholder="Plate number" ng-model="plate">
                            <small id="helpId" class="form-text text-muted">Please enter the plate number.</small>
                        </div>
    
                        <button type="button" class="btn btn-light w-100" ng-click="search()" data-toggle="modal" data-target="#modelId">Search</button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Plate Alert</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        <h1 class="display-4"></h1>
                                        <p ng-bind="title" ng-show="!isRemind"></p>
                                        <p ng-bind="desc" ng-show="!isRemind"></p>
                                        <p ng-show="isRemind">Stay alert and be water my friend!</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- Data -->
    <script src="data.js" ></script>
    <!-- Angular Controller -->
    <script src="main.js"></script>
</body>
</html>